<div class="fullscreen-image">
    <div class="login-container">
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="submitForm()" action="">
                <h3>Login</h3>
                <div class="formGroup">
                    <label for="email">Email: </label>
                    
                    <input type="text" name="email" placeholder="&#xf0e0; Type your Email" formControlName="email" style="font-family:Arial, FontAwesome" />

                </div>
                <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="error-message">
                    Email is required.
                </div>
                <div class="formGroup">
                    <label for="password">Password: </label>
                    <input type="password" name="password" placeholder="&#xf023; Type your Password" formControlName="password" style="font-family:Arial, FontAwesome">
                </div>
                <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error-message">
                    Password is required.
                </div>
                <button (click)="submitForm()">Login</button>
            </form>
        </div>
        
        </div>
</div>