<p>login works!</p>
<form [formGroup]="createCatForm" action="">
    <div class="formGroup">
        <label for="firstName">Cat Name: </label>
        <input type="text" name="firstName" formControlName="firstName" >
    </div>
    <div class="formGroup">
        <label for="eyesColor">Eye Color: </label>
        <input type="text" name="eyesColor" formControlName="eyesColor" >
    </div>
    <div class="formGroup">
        <label for="furColor">Fur Color: </label>
        <input type="text" name="furColor" formControlName="furColor">
    </div>
    <div class="formGroup">
        <label for="weight">Weight: </label>
        <input type="text" name="weight" formControlName="weight">
    </div>
    <button (click)="submitForm()">Add Cat</button>
</form>