<!-- if more cats -->
<div *ngIf="catLikeService.isMatchFound == true">
    <div appAddClass>
      <p>Its a Match!</p>
      <img [src]="currentCat?.img" class="cat-image" alt="Cat Image" >
      Name: {{ currentCat?.name }}
      <a class="checkCat" routerLink="/check-match" (click)="showNextCat()">Check Your Match</a>
    </div>
    
</div>

<div *ngIf="catLikeService.isMatchFound == false">
<div *ngIf="catLikeService.allCatsShown == false">
  <div class="card-container" >
    <div class="card" *ngIf="currentCat">
      <div class="card-header">
        Name: {{ currentCat.name }}
      </div>
      <div class="card-body">
        <img [src]="currentCat.img" class="cat-image" alt="Cat Image" >
        <p>Eyes color: {{currentCat.eyesColor}}</p>
        <p>Fur color: {{ currentCat.furColor }}</p>
        <p>Weight: {{currentCat.weight}}</p>
      </div>
      <div class="buttons" *ngIf="doYouHaveACat == true">
        <button (click)="like(getCatId())" class="round-button thumbs-up" ><i class="fas fa-thumbs-up" ></i></button>
        <button (click)="dislike()" class="round-button thumbs-down"><i class="fas fa-thumbs-down"></i></button>
      </div>
    </div>
  </div>
  
</div>
<!-- if all cats are swiped -->
<div *ngIf="catLikeService.allCatsShown == true">
  <div class="countdown-container">
    <ng-container *ngIf="catLikeService.swipeCooldown > 0; else cooldownFinished">
      <div class="runOut">
        <h3>Sorry, but you have ran out of Swipes!</h3>
      </div>
      <div class="countdown-message">
        You can continue with your swipes after <span class="countdown-timer">{{ catLikeService.formatTime(catLikeService.swipeCooldown) }}</span>.
      </div>
    </ng-container>
    <ng-template #cooldownFinished>
      <div class="countdown-message">
        You can continue with your swipes now.
      </div>
    </ng-template>
  </div>
</div>
</div>