*,html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 40px;
  border-radius: 12px;
  border: 2px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center; 
}

.cat-image {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #333;
  position: relative;
  height: 120vh;
  width: 100%;
  background-image: url('../../../assets/hearts/BZEkJD.webp'); 
  background-size: cover;
  background-position: center;
}

.nameOfCat {
  padding-bottom: 20px;
}

.routerLink {
  display: inline-block;
  background-color: #F89AC8;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 60%; /* Make the button take the width of the container */
}

.routerLink:hover {
  background-color: #F771B3;
}