@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    
    .left-side, .right-side {
        width: 100%;
        text-align: center;
    }
    
    .left-side > *, .right-side > * {
        margin-bottom: 20px;
    }
    
    .fa {
        width: auto;
    }
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-weight: 900;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {

    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    color: white;
  }

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
}
.right-side{
    display: flex;
    flex-direction: column;
}
.fa-location-dot{
    margin-right: 10px;
}
.fa-phone{
    margin-right: 10px;
}
.fa-envelope{
    margin-top: 10px;
    margin-right: 10px;
}
.follow{
    margin-top: 20px;
}
.phone{
    padding-right: 70px;
}
.support{
    padding-top: 10px;
}