<footer class="footer">
    <div class="left-side">
        
        <div class="address-city">
                <i class="fa-solid fa-location-dot"></i>
                21 Vladislav Varnenchik
                <p>Varna, Bulgaria</p>
        </div>
        <div class="phone">
            <i class="fa-solid fa-phone"></i>
            +1 555 123456
        </div>
        <div class="support">
            <i class="fa-solid fa-envelope"></i>
            support&#64;Cat-Date.com
        </div>
    </div>
    <div class="right-side">
        <div class="about">
            <div class="aboutTheCompany">
                About the Company:
            </div>
            <div>
                Welcome to Cat Date, the premier destination for cat lovers seeking companionship for their feline friends. Our company was founded on the belief that every cat deserves love and companionship, and we're here to make that happen.
            </div>
        </div>
    <div class="follow">
        FOLLOW US
    </div>
        <div class="brands">
            <a routerLink="/coming-soon" class="fa fa-facebook"></a>
            <a routerLink="/coming-soon" class="fa fa-twitter"></a>
            <a routerLink="/coming-soon" class="fa fa-instagram"></a>
            <a routerLink="/coming-soon" class="fa fa-linkedin"></a>
        </div>
    </div>
    
    
</footer>