<footer class="footer">
    <div class="left-side">
        
        <div class="address-city">
                <i class="fa-solid fa-location-dot"></i>
                21 Vladislav Varnenchik
                <p>Varna, Bulgaria</p>
        </div>
        <div class="phone">
            <i class="fa-solid fa-phone"></i>
            +1 555 123456
        </div>
        <div class="support">
            <i class="fa-solid fa-envelope"></i>
            support&#64;Cat-Date.com
        </div>
    </div>
    <div class="right-side">
        <div class="about">
            <div>
                About the Company:
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vitae maxime praesentium incidunt officia placeat. Nostrum, repellendus. Sapiente nostrum, facere inventore quo officiis, porro exercitationem autem fuga quam nisi fugit!
            </div>
        </div>
    <div class="follow">
        FOLLOW US
    </div>
        <div class="brands">
            <a href="/coming-soon" class="fa fa-facebook"></a>
            <a href="/coming-soon" class="fa fa-twitter"></a>
            <a href="/coming-soon" class="fa fa-instagram"></a>
            <a href="/coming-soon" class="fa fa-linkedin"></a>
        </div>
    </div>
    
    
</footer>