*{
    padding: 0px;
    margin: 0px;
}
.inProgress{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/inProgress/codersatwork.png');
    background-size: cover;
    background-position: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-weight:900;
    left: 20%;
    bottom:72% ;
    font-size: 40px;
}
@media (max-width: 768px) {
    .inProgress{
        background-size: contain;
    }
    .text {
        background-size: contain;
        position: absolute;
        bottom: 20%;
        left: 20%;
        color: black;
    }
    .text .inProgressp{
        position: absolute;
        left: 20%;
        bottom: 100%;
    }
    .text .contact{
        position: relative;
        right: 10%;
        bottom: 100%;
        height: 20%;
        text-align: center;
    }
      
}