<nav class="navbar">
    <div class="logo">
        <img src="../../assets/logos/R (3).png" alt="Logo">
        <div class="extra-info">
            <a href="home">Cat Date</a>
        </div>
    </div>
    <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-btn">Dropdown</a>
            <div class="dropdown-content">
                <a href="#">Item 1</a>
                <a href="#">Item 2</a>
                <a href="#">Item 3</a>
            </div>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
    </ul>
</nav>