<nav class="navbar">
    <div class="logo">
            <img src="../../assets/logos/R (3).png" alt="Logo">

        
        <div class="extra-info">
            <a routerLink="/home">Cat Date</a>
        </div>
    </div>
    <ul class="menu">
        <li><a routerLink="/home">Home</a></li>
        <li class="dropdown">
            <a routerLink="/dropdown" class="dropdown-btn">Dropdown</a>
            <div class="dropdown-content">
                <a href="#">Item 1</a>
                <a href="#">Item 2</a>
                <a href="#">Item 3</a>
            </div>
        </li>
        <li><a routerLink="/about">About</a></li>
        <div class="profile" *ngIf="isLoggedIn == false">
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
        </div>
        
        <div class="profile" *ngIf="isLoggedIn">
                <li><a routerLink="dashboard">Dashboard</a></li>
                <li><a routerLink="profile">{{userName}}'s Profile</a></li>
                <li><a routerLink="home" (click)="logout()">Logout</a></li>
        </div>
    </ul>
</nav>