<div class="wrapper">
<div class="background-image">
    <div class="phone-bezel"></div>
    <div class="tips-container">
        <h1>Cat Dating Tips</h1>
        <ul class="chat">
            <li class="received"><span class="tip-number">1.</span> Be Pawsitive: Keep a positive attitude while interacting with potential matches.</li>
            <li class="sent"><span class="tip-number">2.</span> Show Your True Fur: Be authentic and honest in your profile.</li>
            <li class="sent"><span class="tip-number">3.</span> Purrsonalize Your Profile: Add photos and information that showcase your personality.</li>
            <li class="received"><span class="tip-number">4.</span> Keep an Open Mind: Be open to exploring different connections.</li>
            <li class="sent"><span class="tip-number">5.</span> Be Playful: Inject some playfulness and humor into your interactions.</li>
            <li class="received"><span class="tip-number">6.</span> Stay Safe: Prioritize your safety when meeting new people offline.</li>
            <li class="sent"><span class="tip-number">7.</span> Meow-tual Respect: Treat each other with respect and kindness.</li>
            <li class="received"><span class="tip-number">8.</span> Have Fun: Enjoy the journey!</li>
        </ul>
    </div>
</div>
</div>