
    <!-- Content you want to hide during loading -->
    <div class="fullscreen-image">
      <div class="text-bubble">
        <div class="triangle"></div>
        <div class="content">
          Meow, She's hot!
        </div>
      </div>
    </div>

    <!-- Features section -->
    <section id="features">
      <div class="testimonial-row">
        <div class="feature-box">
          <h3 class="features logos">
            <i class="fa-solid fa-circle-check fa-2x"></i>
            <p>Easy to use.</p>
          </h3>
          <p class="features_subtext">So easy to use, even your cat could do it.</p>
        </div>
        <div class="feature-box">
          <h3 class="features logos">
            <i class="fa-solid fa-cat fa-2x"></i>
            <p>Elite Clientele</p>
          </h3>
          <p class="features_subtext">We have all the cats, the greatest cats.</p>
        </div>
        <div class="feature-box">
          <h3 class="features logos">
            <i class="fa-solid fa-handshake fa-2x"></i>
            <p>Guaranteed to work.</p>
          </h3>
          <p class="features_subtext">Find the love of your cat's life or receive money back.</p>
        </div>
      </div>
    </section>

    <!-- Cat comment -->
    <div class="testimonial">
      <p>"Paws down, found my purr-fect match! 😺💕 #CatDateSuccessStory"</p>
      <img class="round-image" src="../../assets/catUsingTinder/R-modified.png" alt="">
      <p>Cinnamon, New York</p>
    </div>

    <!-- Pricing section -->
    <div class="pricing">
      <section id="pricing">
        <h2>A Plan for Every Cat's Needs</h2>
        <p>Simple and affordable price plans for you and your cat.</p>

        <div class="row">
          <div class="pricing-column">
            <div class="card">
              <div class="card-header">
                <h3>British Shorthair</h3>
              </div>
              <div class="card-body">
                <h2>Free</h2>
                <p>5 Matches Per Day</p>
                <p>10 Messages Per Day</p>
                <p>Unlimited App Usage</p>
                <button routerLink="/coming-soon" class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up For Free</button>
              </div>
            </div>
          </div>

          <div class="pricing-column">
            <div class="card">
              <div class="card-header">
                <h3>Maine Coon</h3>
              </div>
              <div class="card-body">
                <h2>$49 / mo</h2>
                <p>Unlimited Matches</p>
                <p>Unlimited Messages</p>
                <p>Unlimited App Usage</p>
                <button routerLink="/coming-soon" class="btn btn-lg btn-block btn-dark" type="button">Get started</button>
              </div>
            </div>
          </div>

          <div class="pricing-column">
            <div class="card">
              <div class="card-header">
                <h3>Tiger</h3>
              </div>
              <div class="card-body">
                <h2>$99 / mo</h2>
                <p>Pirority Listing</p>
                <p>Unlimited Matches</p>
                <p>Unlimited Messages</p>
                <p>Unlimited App Usage</p>
                <button routerLink="/coming-soon" class="btn btn-lg btn-block btn-dark" type="button">Contact Us</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>



<!-- new -->