* {
    font-weight: 900;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Transparent background */
    z-index: 1000; /* Ensure navbar is on top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Reduced padding for smaller screens */
    filter: brightness(200%);
}

.logo {
    display: flex;
    align-items: center;
    filter: brightness(2000%);
    padding-left: 30px;
}

.logo img {
    height: 40px; /* Reduced height for smaller screens */
}

.extra-info {
    color: #C5B9BC;
    margin-left: 10px; /* Reduced margin for smaller screens */
    font-size: 16px; /* Reduced font size for smaller screens */
}

.extra-info a {
    color: #C5B9BC;
    text-decoration: none;
    font-size: 26px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap; /* Allow menu items to wrap on smaller screens */
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #C5B9BC; /* Keep the default text color */
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-btn::after {
    content: "\25BE";
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure dropdown is above navbar */
}

.dropdown-content a {
    color: #C5B9BC !important; /* Set the text color to red for dropdown items */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
    text-decoration: underline;
    border-bottom: 2px solid #C5B9BC;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar {
        width: auto;
    }
    .menu{
        padding-left: 60px;
    }
}
